*{box-sizing: border-box;}

body
{
    background-color: #000024;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}

.dark-mode
{
    /* background-color: white; */
    background-color: #dcdcf5; 
    color:#000024;
   
}
/* efeito glitch */
.hero {
    font-size: clamp(10px, 10vw, 30px);
    line-height: 1;
    display: inline-block;
    -webkit-text-stroke: 0.1px #9F55FF;
    color: #00002400;
    z-index: 2;
    letter-spacing: 10px;
  
    /* Bright things in dark environments usually cast that light, giving off a glow */
    filter: drop-shadow(0 1px 3px);
  }
  
  .demo {
    background: #fff;
  }
  
  .layers {
    position: relative;
  }
  
  .layers::before,
  .layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
  }
  
  .layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
  }
  
  .layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
  }
  
  .single-path {
    clip-path: polygon(
      0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%
    );
  }
  
  .paths {
    animation: paths 5s step-end infinite;
  }
  
  @keyframes paths {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  .movement {
    /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
    position: relative;
    animation: movement 8s step-end infinite;
  }
  
  @keyframes movement {
    0% {
      top: 0px;
      left: -20px;
    }
  
    15% {
      top: 10px;
      left: 10px;
    }
  
    60% {
      top: 5px;
      left: -10px;
    }
  
    75% {
      top: -5px;
      left: 20px;
    }
  
    100% {
      top: 10px;
      left: 5px;
    }
  }
  
  .opacity {
    animation: opacity 5s step-end infinite;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }
  
  .font {
    animation: font 7s step-end infinite;
  }
  
  @keyframes font {
    0% {
      font-weight: 100;
      color: #e0287d;
      filter: blur(3px);
    }
  
    20% {
      font-weight: 500;
      color: #fff;
      filter: blur(0);
    }
  
    50% {
      font-weight: 300;
      color: #1bc7fb;
      filter: blur(2px);
    }
  
    60% {
      font-weight: 700;
      color: #fff;
      filter: blur(0);
    }
  
    90% {
      font-weight: 500;
      color: #e0287d;
      filter: blur(6px);
    }
  }
  
  .glitch span {
    animation: paths 5s step-end infinite;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  
  .hero-container {
    position: relative;
    text-align: center;
  }
  
  .environment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
    background-size: cover;
  }
/* efeito glitch */
/* header start */
header
{
    display: flex;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
}
header h1
{
    text-align: center;
    -webkit-text-stroke: 0.1px #9F55FF;
    color: #00002400;
    font-size: 2rem;
    font-weight: 800;
}

header ul
{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2vw;
}
#socialheader a
{
    margin: 0 auto;
    text-decoration: none;

}
#socialheader svg
{
    fill: white;
}
#socialheader svg:hover
{
    fill:#9F55FF;
}

/* header end */

/* banner start */
#banner
{
    background-image: url(banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: right;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #4E0AA6;
    border-left: none;
    border-right: none;
}
#apresentação
{
    text-align: right;
    margin-right: 10vh;
}
#dev
{
   color: #9F55FF;
   margin-bottom: 0;
}
#quemsou
{
   margin-top: 1vh;
}
#sofia
{
    color: #9F55FF;
}
#nome
{
    font-size: 2.6rem;
}
/* banner end */

/* sobre start */

.title
{
    text-align: center;
    -webkit-text-stroke: 0.1px #9F55FF;
    color: #00002400;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 10vh;
    grid-column: span 3;
}
#ola
{
    color: #9F55FF;
}
#sobremiminfo
{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 10vh 10vw
}
#sobreimg
{
  width: 100%;
  height: 100%;
  max-width: 300px;
  justify-self: flex-end;
}
#sobremiminfo button
{
    color: white;
    background-color: #9f55ffc5;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* sobre end */

/* side menu start */

#menu
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2vh;
    z-index: 100;
}
#menu a
{
    position: absolute;
    right: -130px;
    width: 170px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: #9f55ff75;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px 0 0 10px;
    transition: 0.5;
}
#menu a:hover
{
    right: 0;
}
#menu1
{
    top: 2vh;
}
#menu2
{
    top: 12vh;
}
#menu3
{
    top: 22vh;
}
#menu4
{
    top: 32vh;
}
/* modo claro start */
#menu5
{
    top: 42vh;
    position: absolute;
    right: -130px;
    width: 170px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: #9f55ff75;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px 0 0 10px;
    transition: 0.5;
}

/* modo claro end */
#itens
{
    position: absolute;
    right: 0;
    background-color: #4e0aa665;
    border: none;
    border-radius: 30% 0 0 30%;
    padding: 1%;
}
/* side menu end */

/* portfolio start */
#portfolio
{
   display: grid;
   grid-template-columns: 55vh 55vh;
   grid-template-rows: 0.5fr 1fr 1fr 1fr;
   justify-items: center;
   margin: 0 25%;
   font-size: 0.8em;
}
#portfolio h1
{
    grid-column: span 2 ;
}
#portfolio a
{
    border: 2px solid #4E0AA6;
    box-shadow: 0px 4px 60px 0px #4E0AA6;
    width:100%;
    height: 50vh;
    text-decoration: none;
    color: white;
}
.projects
{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.projectd
{
    display: none;
    border: 2px solid #4E0AA6;
    box-shadow: 0px 4px 60px 0px #4E0AA6;
    width:100%;
    height: 50vh;
    background-color: #4e0aa6a0;
    padding: 1%;
    position: relative;
    padding: 3%;
}
.projects:hover .projectd
{
  display: block;
}
.projects:hover img
{
  display: none;
}
.projects:hover svg
{
  display: none;
}
.left 
{
  justify-self: flex-start;
}
.right
{
  justify-self: flex-end;
}

.colortext
{
    color: #9F55FF;
}

/* portfolio end */

/* habilidades start */
#habilidades
{
  display: grid;
  grid-template-columns: 49% 2% 49%;
}
#line
{
  margin-top: 1.5vh;
  width: 2vh;
  background-color: #9F55FF;
  height: 100%;
  z-index: -100;
  position: relative;
  justify-self: center;
  
}
.bola
{
  background-color: #9F55FF;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  position: absolute;
  left: -1.4vh;
}
#bolafim
{
  position: absolute;
  top: 99%;
  background-color: #9F55FF;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  left: -1.4vh;
}
.habdescription
{
  width: 60vh;
}
.habdescriptionright
{
  width: 60vh;
  margin-left: 4vh;
}
.habdescription h1
{
  margin-left: 4vh;
}
.habdescriptionleft
{
  justify-self: flex-end;
  text-align: right;
  width:60vh;
  margin-right: 4vh;
}
.habimg
{
  fill: #9F55FF;
 
}
#iconchato
{
  margin-left: 4vh;
}
/* habilidades end */

/* contato start */
#contato input
{
    color: white;
    font-size: 1.1rem;
    text-align: center;
}
#contato textarea
{
    color: white;
    font-size: 1.1rem;
    text-align: center;
}
#contato
{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 10vw;
    align-items: center;
}
#contatoinfo span
{
    color: #9F55FF;
}

#contatoinfo a
{

    text-decoration: none;
    color: white;
}
#contatoinfo svg
{
    fill: white;
   
}
#contatoinfo svg:hover
{
    fill:#9F55FF;
}
#organizer2
{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vh;
}
#organizer2 h1
{
    margin: 0;
}
#contato form
{
    background-color: rgba(78, 10, 166, 0.30);
    filter: drop-shadow(0px 0px 60px rgba(159, 85, 255, 0.64));
    border-radius: 30px;
    padding: 5vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 2vh;
}
#contactform h1
{
    grid-column: span 2;
    text-align: center;
    margin: 0 0 2vh 0;
}
#fname 
{
    height: 6vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#cemail
{
    height: 6vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#subject
{
    height: 6vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#telefone
{
    height: 6vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#contactform textarea
{
    height: 30vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
    resize: vertical;
}

#message::placeholder
{
    color: white;
}


.span
{
    grid-column: span 2;
}

#submit
{
    color: white;
    width: 50%;
    background-color: #9f55ffc5;
    padding: 15px;
    border-radius: 50px;
    border: none;
    justify-self: center;
}
/* contato end */

/* footer start*/
footer
{
    margin-top: 5vh;
}
footer div
{
    display: inline;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    text-align: center;
}

footer svg
{
    fill: #8C00FB;
}

footer a 
{
    color: #8C00FB;
    cursor: pointer;
}
/* footer end*/

/* @media start */
@media screen and (max-width: 600px) 
{
  body
  {
    overflow-x: hidden;
    font-size: 0.7rem;
  }

  .hero 
  {
    font-size: clamp(7px, 7vw, 25px);
  }

  header
  {
    display: flex;
    justify-content: space-between;
  }

  header svg
  {
    width: 3vh;
  }

  #sobremiminfo
  {
      display: block;
  }

  #sobreimg
  {
    display: none;
  }

  #portfolio
  {
    grid-template-columns: 30vh 30vh;
    padding: 0 7%;
    margin: auto;
  }

  #portfolio a
  {
    height: 30vh;
  }

  .projectd
  {
    height: 30vh;
    font-size: 0.5rem;
  }

  #line
  {
    width: 1vh
  }
  .bola
    {
      width: 3vh;
      height: 3vh;
      left: -1vh;
    }
  #bolafim
  {
    width: 3vh;
      height: 3vh;
      left: -1vh
  }
.habdescription
{
  width: 20vh;
}
.habdescriptionright
{
  width: 20vh;
}
.habdescriptionleft
{
  width: 30vh;
}

#contato
{
  padding: 0;
  font-size: 0.8rem;
  justify-content: space-evenly; 
  grid-template-columns: 80%;
  padding-top: 5vh;
}

#fname 
{
    height: 4vh;
}
#cemail
{
    height: 4vh;
}
#subject
{
    height: 4vh;
}
#telefone
{
    height: 4vh;
    
}
#contactform textarea
{
    height: 15vh;
   
}

#message::placeholder
{
   font-size: 0.7rem;
}
#contactform textarea
{
  height: 15vh;;
}

#contato input
{
   width: 100%;
}
#contato input::placeholder
{
  font-size: 0.5rem;
}

#contato textarea
{
    color: white;
    font-size: 1.1rem;
    text-align: center;
}
#submit
{
    padding: 1vh;
}
#contatoinfo
{
  display: none;
}
#menu a
{
  padding: 2%;
  right: -140px;
}
#menu5
{
  padding: 2%;
  right: -140px;
}

}
/* @media end */