*{box-sizing: border-box;}

body
{
    background-color: #000024;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    margin: 0;
    border: 0;
}

/* header start */

header
{
    display: flex;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
}
header h1
{
    color: #9F55FF;
}
header ul
{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2vw;
}
#socialheader a
{
    margin: 0 auto;
    text-decoration: none;

}
#socialheader svg
{
    fill: white;
}
#socialheader svg:hover
{
    fill:#9F55FF;
}

/* header end */

/* banner start */
#banner
{
    background-image: url(banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: right;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #4E0AA6;
    border-left: none;
    border-right: none;
}
#apresentação
{
    text-align: right;
    margin-right: 10vh;
}
#dev
{
   color: #9F55FF;
   margin-bottom: 0;
}
#quemsou
{
   margin-top: 1vh;
}
#sofia
{
    color: #9F55FF;
}
#nome
{
    font-size: 2.6rem;
}
/* banner end */

/* sobre start */

.title
{
    text-align: center;
    -webkit-text-stroke: 0.1px #9F55FF;
    color: #000024;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 10vh;
}
#ola
{
    color: #9F55FF;
}
#sobremiminfo
{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 10vh 10vw
}
#sobreimg
{
  width: 100%;
  height: 100%;
  max-width: 300px;
  justify-self: flex-end;
}
#sobremiminfo button
{
    color: white;
    background-color: #9f55ffc5;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* sobre end */

/* side menu start */

#menu
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2vh;
    z-index: 100;
}
#menu a
{
    position: absolute;
    right: -130px;
    width: 170px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: #9f55ff75;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px 0 0 10px;
    transition: 0.5;
}
#menu a:hover
{
    right: 0;
}
#menu1
{
    top: 2vh;
}
#menu2
{
    top: 12vh;
}
#menu3
{
    top: 22vh;
}
#menu4
{
    top: 32vh;
}

#itens
{
    position: absolute;
    right: 0;
    background-color: #4e0aa665;
    border: none;
    border-radius: 30% 0 0 30%;
    padding: 1%;
}
/* side menu end */

/* contato start */
#contato
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh 10vw;
    align-items: center;
}
#contatoinfo span
{
    color: #9F55FF;
}

#contatoinfo a
{

    text-decoration: none;
    color: white;
}
#contatoinfo svg
{
    fill: white;
   
}
#contatoinfo svg:hover
{
    fill:#9F55FF;
}
#organizer2
{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vh;
}
#organizer2 h1
{
    margin: 0;
}
#contato form
{
    background-color: rgba(78, 10, 166, 0.30);
    filter: drop-shadow(0px 0px 60px rgba(159, 85, 255, 0.64));
    border-radius: 30px;
    padding: 5vh 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 2vh;
}
#contactform h1
{
    grid-column: span 2;
    text-align: center;
    margin: 0 0 2vh 0;
}
#fname 
{
    height: 35px;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#cemail
{
    height: 35px;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#subject
{
    height: 35px;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#telefone
{
    height: 35px;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
}
#contactform textarea
{
    height: 30vh;
    border-radius: 30px;
    border: 3px solid #9F55FF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px #2AB8C9;
    margin-bottom: 2vh;
    resize: vertical;
}

#message::placeholder
{
    color: white;
}

.span
{
    grid-column: span 2;
}

#submit
{
    color: white;
    width: 50%;
    background-color: #9f55ffc5;
    padding: 15px;
    border-radius: 50px;
    border: none;
    justify-self: center;
}

/* contato end */